node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/
.env*
coverage
*.tgz
.DS_Store
.git
.gitignore
.dockerignore
Dockerfile*
.vscode/
.idea
*.swp
*.swo
*.log
test
tests
__tests__
*.md
docker-compose.yml
docker-compose.*.yml
*.local
*.cache
package-lock.json
yarn.lock
pnpm-lock.yaml
tmp
*.iml
*.bak
*.tmp
*.pid
drizzle/
README*